.col1 {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 1920px;
  padding-top: 337px;
}

.col2 {
  padding-top: 272px;
}




.topic {
  /* padding-top: 272px; */
  
  /*width: 724px;*/
  /*height: 72px;*/
  /*padding-right: 90px;*/
  left: 1106px;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: bold;
  font-size: 60px;
  color: #134F71;
  
}

p {
  margin-top: 0;
}

form {
  display: block;
  margin-top: 51px;
  margin-left: 267px;
  margin-right: 211px;
  /* margin-bottom: 252px; */
}

.form-group {
  margin-bottom: 51px;
  
}