body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
}

.container{
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.loginForm {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}

.inputField {
  padding-top: 16px;
}

.input {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #1189de;
  border-radius: 4px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.submitButton {
  padding-top: 16px;
}

.btn {
  width: 100%;
  min-width:280px;
  color: #565656;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #1189de;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}

.col1 {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 1920px;
  padding-top: 337px;
}

.col2 {
  padding-top: 272px;
}




.topic {
  /* padding-top: 272px; */
  
  /*width: 724px;*/
  /*height: 72px;*/
  /*padding-right: 90px;*/
  left: 1106px;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: bold;
  font-size: 60px;
  color: #134F71;
  
}

p {
  margin-top: 0;
}

form {
  display: block;
  margin-top: 51px;
  margin-left: 267px;
  margin-right: 211px;
  /* margin-bottom: 252px; */
}

.form-group {
  margin-bottom: 51px;
  
}